.results_cards .cardcontainer {
  max-width: 50vw;
}
.results_cards .cardcontainer .header {
  display: flex;
  align-items: center;
}
.results_cards .cardcontainer .header .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.results_cards .cardcontainer .header .img {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  overflow: hidden;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}
.results_cards .cardcontainer .header .img img {
  width: 100%;
}
