.hidden {
  display: none;
}
.filterdiv {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 250px;
  transition: all 0.4s cubic-bezier(0.86, 0.01, 0.27, 0.99);
/*  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  border-radius: 16px;
 */
}
.filterdiv .filtercontent {
  width: 85%;
  overflow: hidden;
}
.filterdiv .filter_bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  right: 0;
}
.filterdiv .filter_bg img {
  height: 100%;
  position: absolute;
  right: 0;
}
.filterdiv .filterButton {
  position: absolute;
  top: 8.8%;
  z-index: 2;
  right: 0;
}
.filterdiv .filterButton .imgcontainer {
  width: 16px;
  padding-right: 5px;
}
.filterdiv .filterButton .imgcontainer img {
  transform: rotate(-90deg);
  width: 100%;
  transition: all 0.4s cubic-bezier(0.86, 0.01, 0.27, 0.99);
}
.rotated {
  transform: rotate(90deg) !important;
}
.filtervisible {
  transform: translateX(0px);
}
.filterhidden {
  transform: translateX(-220px);
}
.filtercontainer {
  display: flex;
  flex-wrap: wrap;
}
